@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Clover';
    font-style: normal;
    src: url(/fonts/CloverDisplay-Regular.woff) format('woff');
  }

  /* @font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url(/fonts/Poppins-Regular.woff) format('woff');
  } */


}

*{
  padding: 0;
  margin: 0;
}
:root{
  --plyr-color-main: #f96f2e;
  --primary : #f96f2e;
  --color-brand : 249,111,46;
  --color-background : 255, 255, 255;
  --color-text :  24, 24, 24;
  --color-secondary-1 : 249, 212, 46;
  --color-secondary-2 : 55, 0, 117;
  --color-secondary-3 : 98, 0, 151;
  --color-grey: 244, 244, 245;
  --color-grey-2: 63, 63, 70;
  --color-grey-3: 244, 247, 249;
  --color-grey-4: 16, 16, 16;
  --color-accent : 249, 212, 46;
  --color-yellow : 249, 212, 46;
  --color-purple :  55, 0, 117;
  --shadow: 112, 128, 176, 0.12;
}


input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px !important;
}


.shadow-defined{
  box-shadow: 0px 6px 10px 0px rgba(var(--shadow));
}

.gap-2-1{
  gap : 0.25rem !important;
}

.shadow-defined-top{
  box-shadow: 0px -6px 6px 0px rgba(var(--shadow));
}

.shadow-defined-both{
  box-shadow: 0px -6px 6px 0px rgba(var(--shadow)) ;
}
.sidebar {
  width: 5rem; /* collapsed width */
  transition: width 0.3s ease;
}

.sidebar-expanded {
  width: 12rem; /* expanded width */
}
@media (max-width: 768px) {
  .sidebar {
    width: 0; /* Hide sidebar on small screens */
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px); 
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.react-datepicker-wrapper{
  width: 100% !important;
}

[data-theme="dark"] {
  --color-brand : 249,111,46;
  --color-background : 24, 24, 24;
  --color-text :  255, 255, 255;
  --color-secondary-1 : 55, 0, 117;
  --color-secondary-2 : 249, 212, 46;
  --color-secondary-3 : 98, 0, 151;
  --color-grey-2: 244, 244, 245;
  --color-grey: 63, 63, 70;
  --color-grey-4: 244, 247, 249;
  --color-grey-3: 16, 16, 16;
  --color-accent : 255, 255, 255;
  --color-yellow : 249, 212, 46;
  --color-purple :  55, 0, 117;
  --shadow: 255, 255, 255, 0.01;
}

.black-text{
  color : rgba(var(--color-text)) !important;
}
.black-text-1{
  color : #181818 !important;
}






input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(var(--color-text));
    /* transition: background-color 5000s ease-in-out 0s;/ */
    /* box-shadow: inset 0 0 20px 20px #23232329; */
}

/* Add this to your global CSS file */



.rotate-x-180{
  transform: rotateX(180deg);
}


.tower {
  perspective: 1000px;
}

.tower > div {
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.hover\:grow:hover {
  transform: scale(1.1);
}


.clip{
  clip-path: circle(50% at 0 0);
}

.stroke-text{
  -webkit-text-stroke: 0.5px rgba(var(--color-secondary-2));
}
  .door {
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(145deg, #6b4f4f, #8d6e63);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
 
    transition: transform 0.5s ease-in-out;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }



.video-js.vjs-ended .vjs-poster {
  display: block;
}

.video-js .vjs-big-play-button {
  background-color: rgba(var(--color-background)) !important;
  color: rgba(var(--color-brand))!important;
}
.video-js .vjs-big-play-button:hover{
  color: rgba(var(--color-brand))!important;
  background-color: rgba(var(--color-background)) !important;

} 


.no-rotate {
  transform: none !important;
  transition: none !important;
}

 



  .audio-player-card {
    max-width: 900px;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  .thumbnail-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .rhap_container {
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(var(--color-grey-1)) !important;
  }
  
 
  
  .rhap_loop-button {
    display: none !important;
  }
  
  .rhap_main-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px); /* Adjust the width to leave space for the volume button */
  }
  
  .rhap_volume-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  
  .rhap_volume-bar {
    display: none;
  }
  
  .rhap_volume-button {
    margin-right: 0 !important;
    display: none !important;
  }
  .rhap_progress-bar {
    margin-bottom: 15px !important; /* Adjust this value to add more space between slider and controls */
  }
  
.rhap_time{
   color : rgba(var(--color-grey-1)) !important;
}

  .rhap_controls {
    margin-bottom: 0px !important; /* Adjust this value to reduce the space below the controls */
  }
