
.greensock-icon {
    margin: 0 auto;
    display: block;
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }
  
  .ball {
    fill: white;
    visibility: hidden;
  }
  
  text {
    fill: white;
    font-size: 15px;
    font-family: "Signika Negative", sans-serif;
    visibility: hidden;
  }