.react-datepicker {
  font-family: inherit;
  border-radius: 0.375rem;
  border: 1px solid #e2e8f0;
}

.react-datepicker__header {
  background-color: #4C1D95;
  border-bottom: none;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  padding-top: 8px;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: white;
}

.react-datepicker__day-name, .react-datepicker__day {
  color: #4C1D95;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
  background-color: #4C1D95;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #8B5CF6;
  color: white;
}

.react-datepicker__navigation {
  top: 8px;
}

.react-datepicker__navigation-icon::before {
  border-color: white;
}

.react-datepicker__year-dropdown {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
}

.react-datepicker__year-option:hover {
  background-color: #4C1D95;
  color: white;
}